body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.income { background: #16a34a; }
.expense { background: #dc2626; }
.balance { background: #2563eb; }

.form-section input,
.form-section select {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #facc15;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

.transaction-section ul {
    list-style: none;
    padding: 0;
}

.transaction-section li {
    background: #1e293b;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
